<li class="list-group-item">
    <div style="width:20px;height:20px;background-color:red;" 
      *ngIf="completed === false"></div>
    <div style="width:20px;height:20px;background-color:green;" 
      *ngIf="completed === true"></div>
    <h4>Titre</h4>
    <input type="text" class="form-control" [(ngModel)]="title" >
    <h4>Completer?</h4>
    <input type="text" class="form-control" [(ngModel)]="completed" >
    <h4>UserId</h4>
    <input type="text" class="form-control" [(ngModel)]="UserId" >
    <br/>
    <button class="btn btn-success" (click)="onClickModify()">Modifier</button>
    <button class="btn btn-danger" (click)="onClickDelete()">Supprimer</button>
  </li>
  <br/>